#div1,
.third {
    background-color: rgb(224, 218, 212);
}

a {
    margin-left: 80px;
    text-decoration: none;
}

.td1 {
    width: 50%;
}

#image {
    margin-left: 90px;
}

#image2 {
    opacity: 0.6;
}

h6 {
    margin-left: 90px;
}


.lastdiv {
    margin-left: 180px;
}

.lasttd {
    width: 22%;
}